
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");


body {
    background: #f7f7f7; 
}

.container {
    max-width: 500px; 
    margin-top: 50px;
    position: relative; 
}

h1 {
    font-size: 80px;
    font-weight: 100;
    color: #4d4d4d;
    opacity: 0.5;
    margin-bottom: 20px;
}

.card {
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.list-group-item {
    padding: 15px 20px;
    font-size: 20px;
    border-left: none;
    border-right: none;
    background: white; 
}



.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-icon {
    color: #cc9a9a; 
    cursor: pointer;
    font-size: 24px;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
}

.todo-item:hover .delete-icon {
    opacity: 1;
}



.form-control {
    border: none !important; 
    box-shadow: none !important; 
    padding: 15px 20px !important;
    font-size: 20px !important;
    font-style: italic;
    color: #4d4d4d !important;
}

.form-control::placeholder {
    font-style: italic;
    color: #d9d9d9;
}

.extra-page {
    position: absolute; 
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 10px; 
    left: 0;
    
}

.extra-page-1 {
    top: 100%;
    transform: translate(5px, 0px); 
    z-index: -1; 
}

.extra-page-2 {
    top: 100%;
    transform: translate(10px, 5px);
    z-index: -2;
}

.card-footer {
    border-top: 1px solid #eee;
    color: #777 !important;
    background: white !important;
}
